$thm-background: #f3f3f3;
$thm-card-background: #ffffff;
$thm-card-boxshadow: #2e2d2c66;
$thm-overlay: rgba(0, 0, 0, 0.5);
$thm-text: #170c3a;

//Button
$btn-blue: #3570b2;
$btn-text: #ffffff;
$btn-red: #e65562;
$btn-transparent: #3570b2;

//Inputs
$input-background-default: #f5f4f6;
$input-background-focused: #dedce1;
$input-background-text: #ebeaed;
$input-text-placeholder: #b1adb9;
$input-text-focused: #8f8a9b;
$input-text: #170c3a;
$input-error-background: #feefee;
$input-error-border: #f95e5a;
$input-error-text: #f95e5a;
$input-height: 3.1rem;
$textarea-height: 11.25rem;

//HR
$hr-color: #ededec;

//Info Card
$info-background: #ebf0f5;
$info-circle: #ffaf3e;

//Empty Card
$empty-text: #828180;

//Modal
$modal-background: #fff;
$modal-footer: #f3f3f3;

//Toast
$toast-success-color: #00b98e;
